<header local-class="header">
  <img local-class="logo" src="logo.svg" />
  <div local-class="title">AfRA</div>
  <div local-class="status-area {{if open 'open' 'closed'}}">
    {{#if open}}
      <div local-class="status">Open</div>
    {{else}}
      <div local-class="status">Closed</div>
      <div local-class="eta">Open in 2h</div>
    {{/if}}
  </div>
</header>

<main local-class="main">
  {{outlet}}
</main>
{{!--
{{#if session.isAuthenticated}}
    Authenticated {{session.data.authenticated.authorizationCode}}
{{else}}
    Unauthenticated
{{/if}}

<button onclick={{action 'login'}}>Login</button> --}}